extend layout

block content
    div(class='col-sm-6 offset-md-3')
        h1 Mes Infos
        table(class='table table-hover')
            thead
                tr
                    th(scope='col') Last Name
                    th(scope='col') First Name
                    th(scope='col') Email
            tbody
                each person in persons
                    tr
                        td
                            a(href='/people/' + person._id)
                                = person.lastName
                        td
                            = person.firstName
                        td
                            = person.email
                        td
                            a(href='/people/' + person._id class='btn btn-primary') Mettre à jour
                            form(action='/people/' + person._id method='post')
                                input(type='hidden' name='_method' value='delete')
                                input(type='submit' class='btn btn-danger' value='Supprimer')
        a(class='btn btn-success col-sm-12' href='/people/new') Ajouter une personne
