html(lang="fr")
    head
        meta(charset="UTF-8")
        title Mon Super Site
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
        link(rel="stylesheet", href="/css/style.css")
    body
        block content
