extend layout

block content
    h1.offset-md-3 Créer une nouvelle personne
    div(class='col-md-6 offset-md-3')
        form(action='/people/new', method='post')
            div(class='form-group row')
                label(for='iLastName' class='col-sm-2 col-form-label') Lastname
                .col-sm-10
                    input(type='text', name='lastName', placeholder='Mettre votre lastname' class='form-control' id='iLastName')

            div(class='form-group row')
                label(for='iFirstName' class='col-sm-2 col-form-label') Firstname
                .col-sm-10
                    input(type='text', name='firstName', placeholder='Mettre votre firstname' class='form-control' id='iFirstName')

            div(class='form-group row')
                label(for='iEmail' class='col-sm-2 col-form-label') Email
                div(class='col-sm-10')
                    input(type='text', name='email', placeholder='Mettre votre email' class='form-control' id='iEmail')

            a(class='btn btn-danger col-sm-6' href='/about') Annuler
            input(type='submit', value='enregistrer' class='btn btn-success col-sm-6')
