extend layout

block content
    h1.offset-md-3
        = person.lastName
    h2.offset-md-3
        = person._id
    div.col-md-6.offset-md-3
        p
            = person.firstName
        p
            = person.email
        a.btn.btn-primary(href='/people') Retour

